.container{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  overflow: hidden;
}

.popUpBox{
  height: 30vh;
  width: 32vw;
  background: white;
  
  position: relative;
}

.heading{
  height: auto;
  width: 90%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 40px;
}

.groupName{
  height: auto;
  width: 90%;
  display: block;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
}

.inputBox{
  padding-left: 5px;
  height: 30px;
  width: 60%;
  margin-left: 10px;
  border-radius: 10px;
  color: #686767;
}

.colorBox{
  height: auto;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-weight: bold;
}

.colorButton{
  height: 25px;
  width: 25px;
border: none;
border-radius: 50%;
margin-left: 1%;
/* border: "1px solid red", */
}

.createButton  {
    background: #001F8B;
    color: #FFFFFF;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  @media (max-width:431px){
    .popUpBox{
      width:80vw;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .heading{   
      margin-top: 20px;
    }

    .inputBox{
      padding-left: 5px;
      height: 30px;
      width: 55%;
      margin-left: 10px;
      border-radius: 10px;
      color: #686767;    
    }

    .colorButton{
      height: 20px;
      width: 20px;
    }

    .colorBox{
      height: auto;
      width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0px 40px 0px;
      font-weight: bold;
    }
    
    .createButton  {
      position: relative;
      width: 70%;
      border: none;     
      bottom: 20px;     
    }
    }