.container{
  background: #DAE5F5;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
}

.headingBox{
  display: flex;
  height: 10%;
  width: 100%;
  background: #001F8B;
  align-items: center;
}

.backArrow{
  display: none;
}

.headingIcon{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 400;
  margin: 0% 3% 0% 5%;
  
}

.heading{
  height: auto;
  width: auto;
  display: flex;
  color: white;
  align-items: center;
  font-size: x-large;
}

.notesContainer{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.noteBox{
  height: auto;
  width: 90%;
  background: white;
  margin: 1.5% 1.5%;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px 0px #00000040;
}

.noteText{
  height: auto;
  width: 100%;
  background: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.timeStamp{
  height: auto;
  width: 100%;
  padding: 10px;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
}

.inputBoxContainer{
  height: 30%;
  width: 70%;
  background: #001F8B;
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox{
  height: 80%;
  width: 92%;
  color: #9A9A9A;
  font-size: large;
  padding: 2%;
  box-sizing: border-box;
  border: none;
}

.disabledSendIcon{
  height: auto;
  width: auto;
  position: fixed;
  bottom: 4%;
  right: 4%;
}

@media (max-width:431px){
  .container{
    width:100%;
  }

  .backArrow{
    height: auto;
    width: auto;
    margin-left: 2%;
    display: flex;
    cursor: pointer;
  }

  .headingIcon{
    margin: 0% 3% 0% 3%;
    
  }
  
  
  .notesContainer{
    width: 100%;
  }

  .noteBox{
    width: 80%;
  }

  .inputBoxContainer{
    width: 100%;
  }

  .notesContainer{
    height: 65%;
  }
  .inputBoxContainer{
    height: 25%;
  }
  }